.container {
  display: flex;
  justify-content: space-between;
  background-color: #F7F5EB;
  min-height: 100vh;
  position: relative;
}

.imageWrapper {
  flex: 0 0 auto;
  margin-left: 140px;
  margin-top: 120px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

.leftImage {
  width: 500px;
  height: auto;
}



.bottomHeading {
  color: #005C87;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.image {
  width: 200px;
  height: auto;
  float: left;
}

.backgroundImageVector {
  position: absolute;
  top: 300px;
  right: 0;
  width: 150px;
  height: auto;
  z-index: 1;
}